{% extends "./baselogin.html" %}

{% block title %}Login {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
 

<form class= "form-signin" action="/login" method="POST">
  
    <img class="mb-3" src="{{ url_for('static', filename='img/mano.png') }}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>

    <div>
      <input type="text" class="form-control"  placeholder="Usuario" name="usuario" />
      <input type="password" class="form-control" placeholder="Contraseña" name="password" />
    </div>
    {% if error %}
      <div class="alert alert-danger mt-1" role="alert">
          {{ error }}
      </div>
    {% endif %}
    </div>
    
    <button class="w-100 btn btn-lg btnLogin" type="submit">Inicia sesión</button>
    <div class="">
      <a href="{{ url_for('registro') }}" class="p mb-3" id="Registro" >Regístrate</a> 
      <br>
      <a href="{{ url_for('home') }}" class="p mb-3" id="Registro" >Volver</a>
    </div>
    

    
    
  </form>
  <footer class="row col-12">
    <p class="mt-5 mb-3 text-muted colorA">&copy; 2023 <a href="https://www.linkedin.com/in/manuel-javier-quevedo-jimenez-7579a3120/" target="_blank" class="colorA">By many</a> </p>
  </footer>


{% endblock %}