<nav class="flex justify-center items-center">
    <ul class="flex space-x-4">
        <li class="mr-2"> 
            <a href="{{ url_for('home')}}">
                <img class=" 2xl:h-10" src="../static/img/Home.png" alt="Home">
            </a>
        </li>
    
        <li> 
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar">
        </li>
        <li>
            <a href="{{url_for('login')}}"><button class="border-solid border-2 border-indigo-600"> Iniciar sesión </button></a>
            <a href="{{url_for('registro')}}"><button class="border-2 border-indigo-600"> Registrate </button></a>
        </li>
    </ul>
</nav>