<nav class="flex justify-between items-center p-4 w-full bg-gray-300 shadow-lg rounded-b-lg shadow-cyan-500/50 border-l-4 ">
    <ul class="flex space-x-4 items-center">
        <li class=""> 
            <a href="{{ url_for('home')}}">
                {% include 'icon-home.html' %}
            </a>
        </li>
    </ul>

    <div class="flex-grow flex items-center justify-center">
        <ul class="flex space-x-4 items-center">
            <li> 
                <input type="text" id="busqueda" class="bg-gray-50 border max-w-[500px] w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar"> 
            </li>
        </ul>
    </div>
    <ul class="flex space-x-4 items-center">
        {%if user %}
            <li class="contents">
                <img src="{{url_for('static',filename='img/user.png')}}" class="w-4 h-4">
                <p>Bienvenido {{user.usuario}}</p>
            </li>
            <li class="relative">
                <img id="perfilButton" src="{{url_for('static',filename='img/engranaje.png')}}" class="w-4 h-4" >
                <ul id="perfilMenu" class="hidden absolute right-0 mt-2 bg-white border border-gray-200 rounded-md shadow-lg py-1 w-40">
                    <!-- Agrega aquí tus opciones de perfil -->
                    <li><a href="{{ url_for('perfil') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Perfil</a></li>                    <li><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Opción 2</a></li>
                    <li><a href="{{url_for('logout')}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Cerrar sesión</a></li>
                </ul>
            </li>
            <li>
                
            </li>
        {%else %}
        <li>
            <a href="{{url_for('login')}}"><button class="border-solid rounded-md border-2 mt-2 p-3 bg-gray-950 duration-300 hover:bg-gray-700 text-white">Iniciar sesión</button></a>
        </li>
        <li>
            <a href="{{url_for('registro')}}"><button class="border-solid rounded-md border-2 mt-2 p-3 bg-sky-400 duration-700 hover:bg-sky-700	text-white">Registrarse</button></a>
        </li>
        {% endif%}
    </ul>
</nav>

<script>
    // JavaScript para mostrar y ocultar el menú de perfil al hacer clic en el botón de perfil
    document.addEventListener('DOMContentLoaded', function () {
        const perfilButton = document.getElementById('perfilButton');
        const perfilMenu = document.getElementById('perfilMenu');

        perfilButton.addEventListener('click', function () {
            perfilMenu.classList.toggle('hidden');
        });

        // Oculta el menú de perfil si se hace clic fuera de él
        document.addEventListener('click', function (event) {
            if (!perfilMenu.contains(event.target) && event.target !== perfilButton) {
                perfilMenu.classList.add('hidden');
            }
        });
    });
</script>
