<nav class="flex justify-between items-center p-4">
    <ul class="flex space-x-4 items-center">
        <li class=""> 
            <a href="{{ url_for('home')}}">
                <img class="2xl:h-10" src="../static/img/Home.png" alt="Home">
            </a>
        </li>
    </ul>

    <div class="flex-grow flex items-center justify-center">
        <ul class="flex space-x-4 items-center">
            <li> 
                <input type="text" id="busqueda" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar">
            </li>
        </ul>
    </div>
    <ul class="flex space-x-4 items-center">
        <li>
            <a href="{{url_for('login')}}"><button class="border-solid rounded-md border-2 mt-2 p-3 bg-black text-white">Iniciar sesión</button></a>
        </li>
        <li>
            <a href="{{url_for('registro')}}"><button class="border-solid rounded-md border-2 mt-2 p-3 bg-sky-400	text-white">Registrarse</button></a>
        </li>
    </ul>
</nav>