<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Perfil {{user.usuario}}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="grid grid-cols-2 gap-4 place-content-center h-48">
        <form action="POST" class="mt-5 center" >
            <input type="text" value="{{user.usuario}}">
        </form>
    </div>
    

</body>
</html>