{% extends "./baselogin.html" %}


{% block title %}Registro {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block body %} 



<form class= "form-signin" action="/registro" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/mano.png') }}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Registro</h1>
    {% if completado %}
    <div class="alert alert-success" role="alert">
        {{ completado }}
    </div>
    {% endif %}
    {% if mensaje %}
    <div class="alert alert-danger" role="alert">
        {{ mensaje }}
    </div>
    {% endif %}
    
    <div>
      <input type="email" class="form-control"  placeholder="Correo electrónico" name="email" required/>
    </div>
      
      <div>
        <input type="text" class="form-control"  placeholder="Usuario" name="usuario" required/>
      </div>
      <div>
        <input type="password" class="form-control"  placeholder="Contraseña" name="password" required />
      </div>
      <div>
        <input type="password" class="form-control" placeholder="Confirmar contraseña" name="confirm" required />
      </div>
    
    
    <button class="w-100 btn btn-lg btnLogin" type="submit">Regístrate</button>
    <a href="{{ url_for('login') }}" class="mb-3 fw-normal">Volver</a>
</form>
<footer>
    <p class="mt-5 mb-3 text-muted colorA">&copy; 2023 <a href="https://www.linkedin.com/in/manuel-javier-quevedo-jimenez-7579a3120/" target="_blank" class="colorA">By many</a> </p>
</footer>
  
  

{% endblock %}